.challenges-details-item {
  display: flex;
  justify-content: space-around;
}

.challenge-start-message {
  color: #55c19e;
}

.user-image {
  border-radius: 50%;
  width: 60px;
  height: 55px;
}

.list-of-challenges {
  color: #3d9fce;
  font-size: 40px;
  font-weight: 600;
  padding-left: 26px;
}

.challenge-filter {
  color: #ffa500bd;
  background-color: #ffff001f;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 23px 0px 0px 0px;
  margin-top: 20px;
}

.challenges-list {
  background-color: #fbd1a2;
  margin-top: 10px;
  height: 152px;
  border-radius: 5px;
  background-image: url("./asset/challenge-Image/carrots.png");
  position: relative;
  /* opacity: 0.8; */
}

.challenges-info {
  color: #b58383;
}

.challenge-name {
  color: #b5838d;
  padding: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.user-profile-image {
  border-radius: 50%;
  width: 38px;
  height: 36px;
  /* margin-top: 53px; */
  margin-left: 10px;
}

.user-profile-image-points-earn {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 7px;
  left: 6px;
}

.challenges-points-message {
  /* margin-top: 40px; */
  padding-left: 36px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #000000b8;
  display: flex;
  align-items: center;
}

.challenges-points {
  color: #ffa500bd;
}

.link-challenges {
  text-decoration: none;
}
