.challenges-details-item {
  display: flex;
  justify-content: space-around;
}

.challenge-start-message {
  color: #008000a1;
}

.user-image {
  border-radius: 50%;
  width: 80px;
  height: 70px;
}

.list-of-challenges {
  color: #6895ce;
  font-size: 40px;
  font-weight: 600;
  padding-left: 26px;
}

.challenge-filter {
  color: #ffa500bd;
  background-color: #ffff001f;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 23px 0px 0px 0px;
  margin-top: 20px;
}

.challenges-list {
  background-color: #ffa50030;
  margin-top: 10px;
  height: 152px;
  border-radius: 5px;
  background-image: url("./asset/challenge-Image/carrots.png");
  background-size: 10px;
  background-size: 389px 202px;
  /* opacity: 0.8; */
}

.challenges-info {
  color: #b58383;
}

.challenge-name {
  color: #b5838d;
  padding: 8px;
}

.user-profile-image {
  border-radius: 50%;
  width: 46px;
  height: 42px;
  margin-top: 38px;
  margin-left: 10px;
}

.user-profile-image-points-earn {
  display: flex;
  flex-direction: row;
}

.challenges-points-message {
  margin-top: 40px;
  padding-left: 36px;
  font-size: 23px;
  font-weight: bold;
  color: #000000b8;
}

.challenges-points {
  color: #ffa500bd;
}

.link-challenges {
  text-decoration: none;
}
