.user-details {
  display: flex;
  flex-direction: row;
}

.user-name {
  color: #3d9fce;
  font-size: 30px;
}

.user-photo {
  border-radius: 50%;
  width: 60px;
  height: 55px;
  margin-left: 17px;
  margin-top: 12px;
}

.user-quote {
  color: #008000a1;
  font-size: 20px;
}

.emoji {
  width: 25px;
  height: 20px;
}

.challenge-met {
  background-color: #bbe1c345;
  height: 35px;
  font-size: 20px;
  padding: 10px 0px 0px 10px;
  font-weight: 600;
  color: #4682b4d9;
  border-radius: 5px;
  opacity: 0.8;
}

.challenge-score {
  color: #ffa500bd;
}

.challenge-quote {
  color: #ffa500bd;
  background-color: #ffff0014;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin-top: 20px;
}

.challenge-message {
  color: #55c19e;
  font-weight: bold;
  height: 45px;
}

.challenges {
  display: flex;
  margin-top: 20px;
}

.challenges-item1 {
  /* background-color: #ffa5005e; */
  height: 290px;
  width: 170px;
  border-radius: 8px;
  background: url("./asset/challenge-Image/ploybeg.png") #ffa5005e center center
    no-repeat;
}

.challenges-item2 {
  /* background-color: #ffa5005e; */
  height: 290px;
  width: 170px;
  border-radius: 8px;
  background: url("./asset/challenge-Image/ped.png") #ffa5005e center center
    no-repeat;
  margin-left: 29px;
}

.challenges-item-btn1 {
  background-color: yellow;
  color: #55c19e;
  border: yellow;
  width: 140px;
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  opacity: 0.7;
}

.challenges-item-btn2 {
  background-color: yellow;
  color: #55c19e;
  border: yellow;
  width: 140px;
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  opacity: 0.7;
}

.daily-challenges-pionts {
  background-color: rgba(73, 236, 183, 0.8);
  border: rgba(73, 236, 183, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 371px;
  height: 42px;
  font-size: 19px;
  margin-top: 20px;
}

.challenges-points-earn {
  background-color: #ece4b76e;
  border-radius: 5px;
  height: 94px;
  margin-top: 20px;
}

.challenges-points-earn-message {
  padding: 10px;
  font-size: 20px;
  color: #7dcfb6;
  font-weight: bold;
}
