.user-details {
  display: flex;
  flex-direction: row;
}

.user-name {
  color: #6895ce;
  font-size: 30px;
}

.user-photo {
  border-radius: 50%;
  width: 80px;
  height: 70px;
  margin-left: 17px;
  margin-top: 12px;
}

.user-quote {
  color: #008000a1;
  font-size: 20px;
}

.emoji {
  width: 25px;
  height: 20px;
}

.challenge-met {
  background-color: #76e07614;
  height: 35px;
  font-size: 20px;
  padding: 10px 0px 0px 10px;
  font-weight: 600;
  color: #4682b4d9;
  border-radius: 5px;
}

.challenge-score {
  color: #ffa500bd;
}

.challenge-quote {
  color: #ffa500bd;
  background-color: #ffff001f;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin-top: 20px;
}

.challenge-message {
  color: #00800082;
  font-weight: bold;
  height: 45px;
}

.challenges {
  display: flex;
  /* justify-content: space-around; */
}

.challenges-item1 {
  background-color: #ffa5005e;
  height: 220px;
  width: 170px;
  border-radius: 8px;
  background-image: url("./asset/challenge-Image/tree.png");
}

.challenges-item2 {
  background-color: #ffa5005e;
  height: 220px;
  width: 170px;
  border-radius: 8px;
  background-image: url("./asset/challenge-Image/tree.png");
  margin-left: 29px;
}

.challenges-item-btn1 {
  background-color: yellow;
  border: yellow;
  width: 140px;
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  opacity: 0.7;
}

.challenges-item-btn2 {
  background-color: yellow;
  border: yellow;
  width: 140px;
  height: 40px;
  margin-left: 16px;
  margin-top: 16px;
  opacity: 0.7;
}

.daily-challenges-pionts {
  background-color: #33ce71bd;
  border: #33ce71bd;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 371px;
  height: 42px;
  font-size: 19px;
  margin-top: 10px;
}

.challenges-points-earn {
  background-color: #deb88759;
  border-radius: 5px;
  height: 94px;
  margin-top: 10px;
}

.challenges-points-earn-message {
  padding: 10px;
  font-size: 20px;
  color: #2aad6a7a;
  font-weight: bold;
}
